<div data-role="view" id="weather-view" data-id="weather-view" 
    data-layout="main-layout" data-title="Weather"
    data-show="app.weather.init" >

    <div id="weatherContainer" data-template="weatherTemplate" data-bind="source: weatherInfo">

    </div>
</div>

<script type="text/x-kendo-template" id="weatherTemplate">
        <a data-role="touch" data-tap="app.camera.init" id="takePicBtn">Take a picture</a>
        <h2>Weather in #= data.city #</h2>
        <h3 id="weather">#: data.weather #</h3>
        <img src="#: data.icon #" width="70" />
        <p>Temperature: #= data.temp # C<sup>o</sup></p>
        <p>Feels like: #= data.feelslike # C<sup>o</sup></p>
        <p>Wind: #= data.wind # km/h</p>
        <p>Humidity: #= data.humidity #</p>
        
        
        # if(data.images) { #
            # for(i = 0; i < data.images.length; i++) { #
                <img src="#: data.images[i] #" width="290" />
        # } } #

        <img id="picture" width="290" />
</script>